<head>
    <meta charset="UTF-8"> 
    
    <style>
        #game {
            padding: 0;
            margin: auto;
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 640px;
            height: 480px;
        }

        body {
            background-color:#123456;
        }
    </style>
</head>

<body>
    <div id="game">
        <canvas id="game_canvas" width="640" height="480"></canvas>
        <noscript>włącz javascript foliarzu</noscript>
    </div>

    <script src="./allegro.js"></script>
    <script src="./main.js"></script>
</body>

